@media only screen and (max-width: 479px) {
  .navbar {
    font-size: 12px;
  }

  .header {
    &-phone-number {
      font-size: 11px;
      font-weight: 700;
    }

    &-phone-icon {
      display: none;
    }
  }

  .top-slider {

    &-content {
      position: absolute;
      top: 22%;
      z-index: 1000;
      text-align: center;
      width: 100%;
      background-blend-mode: multiply;
      background-color: rgba(67, 65, 56, 0.6);
      background-size: auto;
      padding: 8px;
    }

    &-content-btn {
      position: absolute;
      background-color: white;
      color: black;
      font-weight: bold;
      padding: 8px;
      font-size: 9px;
      border-radius: 3px;
      right: 41%;
      cursor: pointer;
      text-decoration: none;
    }

    &-content-text {
      font-size: 18px;
      color: white;

      &:nth-child(2) {
        font-size: 13px;
        color: lightgrey;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .header {
    &-phone-number {
      font-size: 14px;
    }
  }
  .navbar {
    font-size: 14px;
  }

  .top-menu-wrapper-container-item {
    font-size: 12px;
  }
}

@media only screen and (min-width: 546px) {
  .top-menu-wrapper-container-item {
    font-size: 12px;
  }

  .top-slider {

    &-content {
      position: absolute;
      top: 26%;
      z-index: 1000;
      text-align: center;
      width: 100%;
      background-blend-mode: multiply;
      background-color: rgba(67, 65, 56, 0.6);
      background-size: auto;
      padding: 10px;
    }

    &-content-btn {
      position: absolute;
      background-color: white;
      color: black;
      font-weight: bold;
      padding: 12px;
      font-size: 12px;
      border-radius: 3px;
      right: 42%;
      cursor: pointer;
      text-decoration: none;
    }

    &-content-text {
      font-size: 22px;
      color: white;

      &:nth-child(2) {
        font-size: 16px;
        color: lightgrey;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .top-menu-wrapper-container-item {
    font-size: 13px;
  }

  .top-slider {

    &-content {
      position: absolute;
      top: 32%;
      z-index: 1000;
      text-align: center;
      width: 100%;
      background-blend-mode: multiply;
      background-color: rgba(67, 65, 56, 0.6);
      background-size: auto;
      padding: 14px;
    }

    &-content-btn {
      position: absolute;
      background-color: white;
      color: black;
      font-weight: bold;
      padding: 14px;
      font-size: 15px;
      border-radius: 3px;
      right: 42%;
      cursor: pointer;
      text-decoration: none;
    }

    &-content-text {
      font-size: 28px;
      color: white;

      &:nth-child(2) {
        font-size: 22px;
        color: lightgrey;
      }
    }
  }

  .navbar {
    font-size: 16px;
  }

  .header-phone-number {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .top-menu-wrapper-container-item {
    font-size: 15px;
  }

  .active-burger-bg {
    background-color: $white;
  }

  .modal-plus-minus {
    height: 30px;
  }

  .modal-quantity-sum {
    position: relative;
    top: 20px;
  }

  .subscribe-section-input {
    width: 50%;
  }

  .top-slider {

    &-content {
      position: absolute;
      top: 26%;
      z-index: 1000;
      text-align: center;
      width: 100%;
      background-blend-mode: multiply;
      background-color: rgba(67, 65, 56, 0.6);
      background-size: auto;
      padding: 15px;
    }

    &-content-btn {
      position: absolute;
      background-color: white;
      color: black;
      font-weight: bold;
      padding: 16px;
      font-size: 15px;
      border-radius: 3px;
      right: 42%;
      cursor: pointer;
      text-decoration: none;
    }

    &-content-text {
      font-size: 48px;
      color: white;

      &:nth-child(2) {
        font-size: 28px;
        color: lightgrey;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .top-menu-wrapper-container-item {
    font-size: 17px;
  }
  .navbar {
    font-size: 18px;
  }

  .top-slider-content {
    top: 32%;
    padding: 17px;
  }

  .top-slider-content-btn {
    right: 44%;
  }

  .header-phone-number {
    font-size: 18px;
  }

  .furniture-gallery-pictures {
    height: 60px !important;
  }

  .furniture-gallery-bottom-wrapper-img {
    width: 45px;
  }

  .carousel-controls-custom {
    padding: 20px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.9px) {
  .footer-menu {
    padding-left: 97px;
  }
}

@media screen and (max-width: 767.9px) {
  .blog-carousel {
    padding: 0 48px;
  }

  .card-deck {
    width: 95%;
    margin: 0 auto;
  }

  .furniture-details-img {
    width: 60%;
  }

  .stocks-chairs-description > span {
    font-size: 20px;
  }
  .stocks-chairs-description > span:nth-child(2) {
    font-size: 16px;
  }
  .stocks-chairs-description > span:nth-child(3) {
    font-size: 24px;
  }
}

@media screen and (max-width: 1199.9px) {
  .stocks-chairs, .stocks-sofa {
    width: 80%;
  }
  .stocks-chairs:nth-child(1) {
    margin-top: 30px;
  }
}

@media (min-width: 480px) and (max-width: 544px) {

  .top-slider {

    &-content {
      position: absolute;
      top: 26%;
      z-index: 1000;
      text-align: center;
      width: 100%;
      background-blend-mode: multiply;
      background-color: rgba(67, 65, 56, 0.6);
      background-size: auto;
      padding: 10px;
    }

    &-content-btn {
      position: absolute;
      background-color: white;
      color: black;
      font-weight: bold;
      padding: 12px;
      font-size: 12px;
      border-radius: 3px;
      right: 42%;
      cursor: pointer;
      text-decoration: none;
    }

    &-content-text {
      font-size: 22px;
      color: white;

      &:nth-child(2) {
        font-size: 16px;
        color: lightgrey;
      }
    }
  }
}

@media screen and (max-width: 346px) {
  .our-features-icon-second-border {
    bottom: 98px;
  }

  .adaptive-icon {
    bottom: 75px;
  }
}

@media screen and (max-width: 1199px) {
  .furniture-filter-wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 540px) {
  .furniture-gallery-pictures {
    height: 70px !important;
  }

  .furniture-gallery-bottom-wrapper-img {
    width: 50px;
  }

  .furniture-gallery-card-description {
    font-size: 12px;

    & h4 {
      font-size: 12px;
    }
  }
}