@mixin title($size, $color) {
  text-transform: uppercase;
  @if ($size == small) {
    font-size: 18px;
  } @else if ($size == middle) {
    font-size: 20px;
  } @else if ($size == big) {
    font-size: 22px;
  }

  @if ($color == black) {
    color: $black;
  } @else if ($color == orange) {
    color: $orange;
  } @else if ($color == white) {
    color: $white;
  }
}

@mixin buttons {
  color: $black;
  font-weight: 600;
  background-color: $orange;
  font-size: 14px;
  padding: 21px 30px;
}