@import 'variables';
@import 'mixin';

body {
  font-family: 'Poppins', sans-serif;;
}

.navbar {
  background-color: $greyBgNav;
  width: 100%;

  &-link {
    &:hover {
      text-decoration: underline white;
    }
  }
}

.login-close-btn {
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  font-weight: bold;
}

.login-btn {
  @include buttons;
  border-radius: 10px;
}

.header {
  background-color: $blackBgHdFt;
  width: 100%;

  &-phone-number:hover {
    text-decoration: underline white;
  }

  &-phone-icon {
    color: $orange;
    font-size: 18px;
  }

  &-logo {
    cursor: pointer;
  }

  &-basket {
    background-color: $orange !important;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
}

.top-menu-icon-container-counter {
  position: absolute;
  content: '0';
  color: $white;
  right: -29%;
  width: 22px;
  text-align: center;
  height: 20px;
  padding-bottom: 23px;
  border-radius: 50%;
  background-color: $blackBgHdFt;
  cursor: pointer;
}

.btn-success {
  background-color: $black;
}

.top-menu {
  background-color: $white;
  width: 100%;

  &-icon-container {
    position: relative;

  }

  .form-control::placeholder {
    font-size: 14px;
  }

  .form-control {
    border: 1px solid $blackBgHdFt;
    margin: 18px 0;
  }

  &-search-icon {
    position: absolute;
    right: 7px;
  }


  &-text {
    color: white;
    font-size: 13px;
    padding: 10px 0 13px 19px;
    letter-spacing: 0.5px;
    font-family: sans-serif;
  }

  &-checkbox {
    display: none;
  }

  &-icon {
    position: relative;
    min-width: 24px;
    min-height: 25px;
    order: 10;
    padding: 5px 8px 5px;

    &-stick--top {
      top: 7px;
      left: 13px;
    }

    &-stick--middle {
      top: 12px;
      left: 13px;
    }

    &-stick--bottom {
      top: 17px;
      left: 13px;
    }

    &-stick {
      position: absolute;
      width: 20px;
      height: 3px;
      background-color: black;
      transition: all 1s;
    }
  }

  &-checkbox:checked ~ .top-menu-wrapper {
    transform: translateX(-300px);
    display: inline-block;
  }

  &-checkbox:checked ~ .top-menu-icon > .top-menu-icon-stick--top {
    transform: rotate(135deg);
    margin-top: 4px;
    background-color: white;
  }

  &-checkbox:checked ~ .top-menu-icon > .top-menu-icon-stick--middle {
    transform: translateX(-12px);
    opacity: 0;
  }

  &-checkbox:checked ~ .top-menu-icon > .top-menu-icon-stick--bottom {
    transform: rotate(-135deg);
    margin-top: -6px;
    background-color: white;
  }

  &-wrapper {
    position: absolute;
    top: 85px;
    right: -300px;
    display: none;
    background-color: $blackBgHdFt;
    z-index: 2000;
    width: inherit;

    &-container {
      display: flex;
      flex-direction: column;

      &-item:first-child {
        position: relative;
      }

      &-item:first-child:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 20px;
        width: 65px;
        height: 1px;
        border-bottom: 1px solid lightgrey;
      }

      &-item {
        padding: 5px 8px 5px 36.5px;
        color: #b8b8b8;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: #f5f5f5;
        }

      }
    }
  }

  &-lg-wrapper-item {
    color: black;
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 32px 5px;
    box-sizing: border-box;
    border: 3px solid transparent;

    &:hover {
      background-color: $orange;
      color: $white;
      border-top: 3px solid $blackBgHdFt;
    }
  }
}

.active-burger-bg {
  background-color: $blackBgHdFt;
}


/************ CART MODAL ************/


.modal {

  &-old-price {
    text-decoration: line-through;
    color: lightgrey;
  }

  &-product-quantity {
    border: 1px solid $black;
    margin-right: 5px;
    text-align: center;
    background-color: $white;
  }

  &-plus-minus {
    border: 1px solid $black;
    color: $black;

    &:hover {
      border: 1px solid $orange;
      color: $orange;
    }
  }

  &-sum-text {
    color: grey;
    font-size: 20px;
  }

  &-sum-numbers {
    font-size: 22px;
  }

  &-buttons-icons {
    padding-right: 10px;
  }

  &-buy-btn {
    background-color: $orange;
    border: 1px solid $orange;
  }

  &-name {
    font-size: 22px;
  }

  &-body {
    border: 1px solid lightgray;
    margin: 10px;
  }
}

.img-thumbnail {
  border: none;
}


/************ TOP SLIDER ************/


.top-slider-arrow-left, .top-slider-arrow-right {
  top: 90%;
  width: 50.2%;
  background-color: #2a2a2a;
  opacity: 1;

  &:hover {
    background-color: $orange;
    opacity: 1;
  }
}

.top-slider-content-btn {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $orange;
  }
}


/************ OUR FEATURES ************/


.our-features {
  &-text-container {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 0;

    &:hover {
      border: 1px solid $orange;
    }
  }

  &-container {

    &:hover .our-features-icon-second-border {
      border: 1px solid $orange;
    }

    &:hover .our-features-icon {
      background-color: $orange;
      color: $white;
    }

    &:hover .our-features-text {
      color: $orange;
    }
  }

  &-icon {
    border-radius: 50%;
    width: 55px;
    bottom: 4px;
    z-index: 10;
    left: 4px;
    background-color: $white;
    height: 55px;
    border: 1px solid lightgrey;
  }

  &-icon-second-border {
    border: 1px solid lightgrey;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    bottom: 74px;
    background: white;
    z-index: 1;
  }
}


/************ STOCKS ************/


.stocks {

  &-sofa {
    width: auto;
    height: 420px;
    background: url("../img/stocks/stocks_1.jpg") no-repeat;
    background-size: cover;

    &:hover {
      text-decoration: none;
    }

    &-offer {
      width: calc(100% - 64px);
      height: calc(100% - 64px);
      background-color: rgba(81, 81, 81, 0.6);

      &-description {
        padding: 20px;
        font-weight: 600;
        color: $white;

        &-text:nth-child(1) {
          font-size: 33px;
          top: 20px;
        }

        &-text:nth-child(2) {
          font-size: 60px;
        }

        &-text:nth-child(3) {
          font-size: 43px;
          border: 4px solid $white;
          padding: 10px 20px;
        }
      }
    }
  }

  &-chairs {
    background-color: #e8edf7;
    height: 195px;
    color: $black;

    &:hover {
      text-decoration: none;
      color: $black;
    }

    &:nth-child(2) {
      margin-top: 30px;
    }

    &-img {
      object-fit: contain;
      width: 30%;
      height: auto;
    }

    &-description {
      font-size: 30px;

      & .bold {
        font-weight: bold;
      }

      & span:nth-child(2) {
        font-size: 20px;
        font-weight: 600;
      }

      & span:nth-child(3) {
        font-size: 36px;
        font-weight: 600;
        color: $orange;
      }
    }
  }
}

/************ FURNITURE ************/


.furniture {

  &-title {
    @include title(big, black);
    font-weight: 600;

    &-line {
      margin-top: 8px;
      margin-bottom: 15px;
      background-color: #e2e2e2;
    }
  }

  &-card {
    margin: 15px;
    overflow: hidden;
    height: 442px;

    &-sale {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $black;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translate(-50%, 0%);
      color: $white;
      font-size: 12px;
      transition: 0.5s;
    }

    &-img {
      height: 261px;
      width: auto;

      &-wrapper {
        background-color: #f4f5f7;
        position: relative;

        &:hover {
          .furniture-card-sale {
            transform: translate(-50%, 50%);
          }
        }
      }
    }

    &-btn {
      background-color: $black;
      padding: 8px 10px;
      color: $white;
      font-size: 13px;
      border: none;

      &:focus {
        outline: none;
      }

      &-view {
        width: 70%;
      }

      &-basket {
        font-weight: 600;
        width: 100%;
        margin-left: 10px;
      }
    }

    &-title {
      font-size: 16px;
      color: $black;
      font-weight: 600;
      margin-top: 16px;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $black;
        position: relative;
        top: 70px;
      }

      &::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: $orange;
        position: relative;
        top: 49px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-price {
      padding: 10px;
      @include title (small, white);
      font-weight: 600;
      background-color: $black;
    }

    &-description {
      padding: 10px;
      position: relative;
      top: -45px;

      &-info {
        margin-top: 50px;
      }

      &:hover {
        .furniture-card-btn-view, .furniture-card-btn-basket, .furniture-card-price {
          background-color: $orange;
        }
      }
    }

    &-social-btn {
      outline: none;
      padding: 0;
      border: 1px solid $black;
      background-color: transparent;
    }

    &-active {
      .furniture-card-title {
        color: $orange;
      }

      .furniture-card-btn {
        background-color: $orange;
      }

      .furniture-card-price {
        background-color: $orange;
      }
    }
  }

  &-details {

    &-title {
      @include title(big, black);
      font-weight: 600;
    }

    &-reviews {
      font-size: 14px;
    }

    hr {
      margin: 20px 0;
    }

    &-img {
      width: 100%;
      background-color: #f4f5f7;
      margin-bottom: 20px;
    }

    &-price {

      &-old {
        font-size: 18px;
        color: #939393;
      }

      &-new {
        font-size: 18px;
        font-weight: 600;
        color: $white;
        background-color: $black;
        padding: 5px 9px;
        margin-left: 10px;
      }
    }

    &-description {

      &-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 600;
      }

      &-text {
        font-size: 14px;
        line-height: 200%;
        color: #939393;
      }
    }

    &-info {

      &-feature {
        font-size: 14px;
        font-weight: 500;

        &-value {
          font-size: 13px;
          font-weight: 400;
        }
      }
    }

    &-social-btns {
      & .fa-facebook-f {

      }

      & .fa-google-plus-g {
        color: #d62d20;
      }

      & .fa-twitter {
        color: #4099ff;
      }

      & .fa-pinterest-p {
        color: #c92228;
      }

      & .fa-linkedin-in {
        color: #0077b5;
      }

      & i {
        margin-right: 6px;
      }

      & a {
        color: #989898;
        font-size: 13px;
        border: 1px solid black;
        padding: 10px 15px;

        &:hover {
          text-decoration: none;
        }

        &:nth-child(1) {
          background-color: #3b5998;
          color: $white;
        }
      }
    }
  }

  &-filter {

    &-wrapper {
      margin-bottom: 60px;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
    }

    &-dropdown-menu {
      font-size: 14px;
      padding: 10px;
      border: 1px solid #e1e1e1;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    &-item {
      font-size: 13px;
      padding-left: 0;

      &-title {
        &:hover {
          color: $orange;
          cursor: pointer;

          & + .furniture-filter-circle {
            background-color: $orange;
          }
        }
      }
    }

    &-circle {
      height: 23px;
      width: 23px;
      border-radius: 50%;
      background-color: $black;

      &-value {
        color: $white;
      }
    }

    &-category .furniture-filter-item {
      padding-left: 0;
    }

    &-price {

      &-range-slider {
        margin-left: 7px;
      }

      &-prices {
        width: 114px;
        height: 32px;
        border: 1px solid #e1e1e1;
        font-size: 14px;
        font-weight: 500;
      }

      &-btn {
        background-color: $black;
        color: $white;
        font-size: 14px;
        padding: 5px 13px;
        border: none;

        &:hover {
          background-color: $orange;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-size {
      .furniture-filter-item {
        padding-left: 20px;
      }

      &-checkbox {

        & + label {
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 14px;
            height: 14px;
            border: 1px solid black;
            border-radius: 4px;
            transition: .2s;
          }

          &::after {
            content: '\f00c';
            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            display: none;
            position: absolute;
            top: 5px;
            left: 3px;
            font-size: 8px;
            color: black;
            transition: .2s;
          }
        }

        &:checked + label:after {
          display: block;
        }
      }
    }

    &-tag {

      &-item {
        border: 1px solid #959595;
        padding: 11px 13px;
        margin-bottom: 12px;
        font-size: 14px;
        color: #959595;
        background-color: transparent;

        &:focus {
          outline: none;
        }

        &-title {

        }

        &:hover {
          color: $orange;
          border: 1px solid $orange;
          cursor: pointer;
        }

        &.chosen-tag-item {
          color: $orange;
          border: 1px solid $orange;
        }
      }
    }

    &-color {
      .furniture-filter-item {
        padding-left: 20px;
      }

      &-checkbox {

        & + label {
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 14px;
            height: 14px;
            border: none;
            border-radius: 4px;
            transition: .2s;
          }

          &::after {
            content: '\f00c';
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            display: none;
            position: absolute;
            top: 3px;
            left: 3px;
            font-size: 8px;
            color: $white;
            transition: .2s;
          }
        }

        &:checked + label:after {
          display: block;
        }
      }
    }

    &-modal {

      &-closeBtn {
        background-color: $black !important;
        margin-right: -17px !important;
        padding: 10px 15px !important;
        opacity: 0.7 !important;

        &:hover {
          opacity: 1 !important;
        }

        &:focus {
          outline: none !important;
        }

        &-cross {
          color: $white;
        }
      }
    }
  }

  &-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eeeeee;
    box-shadow: 0px 4px 4px 0px #e2e2e2;
    border: none;
    margin-top: 60px;

    &-img {

      &-animation {
        animation: rotateSpinner 1s linear 0s infinite;
      }
    }

    &:focus {
      outline: none;
    }
  }
}


@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.checkbox {
  &-red::before {
    background-color: #fa5f66;
  }

  &-black::before {
    background-color: #454545;
  }

  &-yellow::before {
    background-color: #e9e600;
  }

  &-blue::before {
    background-color: #0190d3;
  }

  &-pink::before {
    background-color: #f72fe4;
  }

  &-green::before {
    background-color: #14d400;
  }
}

.icon-heart, .icon-exchange {
  margin: 14px;
}

:checked {
  & + label {
    color: $orange;

    & + div.furniture-filter-circle {
      background-color: $orange;
    }
  }
}

// BOOTSTRAP CARD
// Bootstrap 4 breakpoints & gutter
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$cards-per-line: (
  xs: 1,
  sm: 1,
  md: 2,
  lg: 2,
  xl: 3
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0 calc(#{100%/map-get($cards-per-line, $name)} - #{$grid-gutter-width});
    }
  }
}


/*********** PRICE RANGE FILTER ************/

.value {
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;

  /* optional */

  font-weight: normal;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none;
}

.value i {
  font-style: normal;
}

.price-range-min, .price-range-both, .price-range-max {
  font-size: 0px;
}

.price-range-slider-wrapper {
  margin-top: 36px;
}

.ui-widget-header {
  background: $black;
}

.ui-slider-handle {
  border-radius: 50%;
  background: white !important;
  border: 2px solid $black !important;

  &:hover {
    border: 2px solid $orange !important;
  }

  &:focus {
    outline: none;
  }

  &.chosen {
    border: 2px solid $orange;
  }
}

/************ FURNITURE GALLERY ************/


.furniture-gallery {

  &-title {
    @include title(middle, orange);
    font-weight: 600;

    &-line {
      margin-bottom: 30px;
      margin-top: 0;
      background-color: #e2e2e2;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: $orange;
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &-main-wrapper {
    border: 1px solid lightgrey;

    &-tabs {

        //border-bottom: 1px solid #f4f5f7 !important;

      & .active {
        border-top: 3px solid $orange !important;
        border-top: 3px solid transparent;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        color: $orange !important;
        background-color: #f4f5f7 !important;
      }

      &-item {
        &-link {
          color: black;
          border: 1px solid transparent !important;
          border-top: 3px solid transparent;

          &:hover {
            color: $orange;
            //border-top-left-radius: 0 !important;
            //border-top-right-radius: 0 !important;
          }

          &:focus {
            color: $orange !important;
            background-color: #f4f5f7 !important;
          }
        }
      }
    }
  }

    &-card-img {
      height: 400px;
      width: auto;
    }

    &-pictures {
      text-indent: 0 !important;
      margin: 0 !important;
      border: none;
      height: 120px !important;
    }

    &-img-content {
      background-color: #f4f5f7;
    }

    &-bottom-wrapper {
      box-sizing: content-box;
      bottom: -18%;
      width: 100%;

      &-img {
        background-color: #d3d3d3;
        width: 90px;
      }
    }

    &-indicators {
      margin: 0;
      position: unset;
    }

  &-btns {
    display: flex;
    flex-direction: column;
    left: 0;

    & button {
      margin: 5px;
      padding: 0;
      border: none;
      background-color: #f4f5f7;
    }
  }

  &-card-old-price {
    text-decoration: line-through;
  }

  &-card-description {
    right: 0;
    bottom: 10%;
    background-color: white;
    box-shadow: 9px 4px 15px -10px $black;

    &-info {
      border-radius: 50%;
      background-color: grey;
      color: $white;
      bottom: 100px;
      opacity: 0.5;
    }
  }

  &-bedroom {
    background-color: #e8edf7;

    &-content {
      z-index: 100;
    }

    &-price {
      font-size: 40px;
      color: #79ae30;
    }

    &-text-price {
      font-size: 25px;
    }

    &-name {
      font-size: 45px;
      color: $orange;
    }

    &-btn {
      @include buttons;
      background-color: #79ae30;
      color: $white;
      border-radius: 5px;

      &:hover {
        text-decoration: none !important;
        background-color: $orange;
        color: $white
      }
    }

    & img{
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  }

  .carousel-left-icon {
    position: unset;
  }

  .carousel-right-icon {
    position: unset;
  }

  .btns-icon-heart, .btns-icon-eye, .btns-icon-basket {
    padding: 14px;
    border: 1px solid black;

    &:hover {
      border: 1px solid $orange;
      color: $orange;
    }
  }

  .carousel-controls-custom {
    position: unset;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
    background-color: $black;
    opacity: 1;
  }




  /************ BLOG ************/


.blog {

  &-title {
    @include title(middle, orange);
    font-weight: 600;

    &-line {
      margin-bottom: 30px;
      margin-top: 0;
      background-color: #e2e2e2;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: $orange;
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &-card:hover .blog-card-description-title {
    color: $orange;
  }

  &-card:hover .blog-card-btn {
    background-color: $orange;
    text-decoration: none;
    color: $white;
  }

  &-card {

    &-description {
      margin: 0 30px;
      width: calc(100% - 60px);
      background-color: $white;
      z-index: 1000;
      position: relative;
      top: -60px;

      &-info {
        padding: 18px;

        &-date {
          font-size: 13px;
        }

        &-comments {
          font-size: 13px;
        }
      }

      &-title {
        font-size: 16px;
        color: $black;
        font-weight: 600;
        margin: 20px 0;
      }

      &-text {
        font-size: 14px;
      }
    }

    &-btn {
      font-size: 16px;
      font-weight: 600;
      color: $white;
      background-color: $black;
      padding: 16px 40px;
      position: relative;
      top: 38px;
    }
  }

  &-carousel-indicators {
    bottom: unset;
    left: unset;
    top: -37px;
    right: 0;
    margin: 0;
    padding-left: 10px;
    background-color: $white;
  }

  &-carousel-indicators > li {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: $orange;
  }
}


/************ SUBSCRIBE ************/


.subscribe {

  &-section {
    padding: 37px 0;
    background-color: $greyBgSubscribe;

    &-input {
      border: none;
      padding-left: 55px;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: #a1a1a1;
      }

      &-start-point {
        @include title(big, orange);
        font-weight: 600;
        position: relative;

        &::before {
          content: '\f0e0';
          font-family: 'Font Awesome 5 Free';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }

        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 14px;
          background-color: #a1a1a1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -48px;
        }
      }
    }

    &-label {
      @include title(big, orange);
      font-weight: 600;
      position: relative;
      margin-right: 57px;
    }

    &-btn {
      color: $orange;
      background-color: $white;
      border: none;
      margin-left: 20px;

      &-arrow {
        font-weight: bold;
      }
    }
  }
}


/************ FOOTER ************/


.footer {
  background-color: $blackBgHdFt;
  color: $white;

  &-menu {

    &-title {
      @include title(big, white);
      margin-bottom: 36px;
    }

    &-list-item .hyperlink {
      color: #a9a9a9;
      font-size: 14px;
    }
  }

  &-copyright-div {
    background-color: $black;
    padding: 37px 0;
    font-size: 14px;

    &-text {
      display: block;
      color: #a1a1a1;
    }
  }

  &-social-icon {
    margin-right: 10px;
    color: #a1a1a1;
  }

  &-social-icon:hover {
    color: $orange;
  }

}

.img-payment-method {
  width: 40px;
  height: 28px;
}


/************ GENERAL ************/


@import "media";

